@{
    ViewData["Title"] = "Rules";
}

<div class="container">
    
    <h2>Rules for game room</h2>

   


    @using (Html.BeginForm("Index", "Home"))
    {

    <h2>Number of questions</h2>
    

    @Html.RadioButton("Answer", "10") <span>10</span>
    @Html.RadioButton("Answer", "15") <span>15</span>
    @Html.RadioButton("Answer", "20") <span>20</span>
    <h2>Time per question (in seconds)</h2>
    @Html.RadioButton("Answer", "10") <span>10</span>
    @Html.RadioButton("Answer", "15") <span>15</span>
    @Html.RadioButton("Answer", "20") <span>20</span>



    <input type="submit" value="Startgame" />
    }




    
    
</div>
